body {
    background-image: url('/img/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
